* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: grey;
  padding: 16px 32px;
  gap: 10px;
}

nav a {
  margin-right: 16px;
}

@supports (display: grid) {

  main {
    max-width: 10000px;
    margin: 0;
  }

  .countries-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
  }
}
